<h1 mat-dialog-title>
  <span translate>version.title</span>
</h1>
<div mat-dialog-content>
  <div class="version-row">
    <span class="version-label"
          translate>version.name</span>
    <span>{{version.name}}</span>
  </div>
  <div class="version-row">
    <span class="version-label"
          translate>version.version</span>
    <span>{{version.version}}</span>
  </div>
  <div class="version-row">
    <span class="version-label"
          translate>version.commit</span>
    <a href="{{version.repo}}/commit/{{version.hash}}"
       target="_blank">{{version.hash}}</a>
  </div>
  <div class="version-row">
    <span class="version-label"
          translate>version.tag</span>
    <span>{{version.tag | nullable}}</span>
  </div>
  <div class="version-row">
    <span class="version-label"
          translate>version.dirty</span>
    <mat-checkbox [disabled]="true"
                  [ngModel]="version.dirty"></mat-checkbox>
  </div>
  <div class="version-row">
    <span class="version-label"
          translate>version.time</span>
    <span>{{version.time | date:'medium'}}</span>
  </div>
  <div class="version-row">
    <span class="version-label"
          translate>version.environment</span>
    <span>{{(environment.production ? 'version.production' : 'version.development') | translate}}</span>
  </div>
</div>
