<app-locker [active]="locked$ | async"></app-locker>
<mat-toolbar color="primary">
  <button mat-button
          [routerLink]="['home']">
    <span translate>
      buttons.home
    </span>
  </button>
  <button mat-button
          [routerLink]="['admin']">
    <span translate>
      buttons.admin
    </span>
  </button>
  <button mat-icon-button
          [routerLink]="{ outlets: { dialog: 'core/version'} }"
          matTooltip="{{'version.tooltip' | translate}}">
    <mat-icon>info</mat-icon>
  </button>
</mat-toolbar>

<a style="padding: 5px;" [routerLink]="['']">root</a>
<a style="padding: 5px;" [routerLink]="['home']">home</a>
<a style="padding: 5px;" [routerLink]="['admin']">admin</a>
<a style="padding: 5px;" [routerLink]="['landing']">landing</a>
<a style="padding: 5px;" >version</a>
<a style="padding: 5px;" [routerLink]="{ outlets: { dialog: 'users/123'} }">user 123</a>

<app-breadcrumbs></app-breadcrumbs>

<router-outlet></router-outlet>
<router-outlet name="dialog"></router-outlet>

<!--<app-content-test></app-content-test>-->
